    <main>
      <section>
        <div class="bg1">
          <div class="bg_pic1">
            <div class="bg_txt1">
              <p>야시장소개</p>
            </div>
          </div>
        </div>
      </section>

      <section class="info1">
        <div class="info_title">대한민국 No.1 야시장</div>
        <div class="line"></div>
        <div class="info_sub1">
          夜하게 놀자, 대한민국 대표 야시장 서문시장야시장<br />
          단순한 스트리트마켓이 아니다!<br />
          글로벌하게 먹고, 마시고, 즐길 수 있는 대한민국 No.1 야시장
        </div>
      </section>

      <section class="info2">
        <div class="seomun_img"></div>
        <div class="info2_text">
          <p class="info2_title">서문시장 야시장 소개</p>
          <p class="info2_main">
            서문시장 야시장은 2016년 6월에 개장한, 총거리 350M에 달하는 대형
            야시장입니다. 우리나라 3대 시장인 서문시장의 밤거리를 무대로 하여 총
            80대의 매대에서 다양한 먹거리, 살거리를 판매하며 매일 저녁, 시민과
            관광객에게 즐거움을 선사하는 복합문화공간입니다. 특히, 먹거리 일색인
            타 야시장과는 달리 먹거리, 볼거리, 즐길거리의 3대 요소가 연중으로
            펼쳐지는 마법같은 관광지이기도 합니다. 밤이 즐거운 대구 야행 한옥
            체험을 경험할 수 있는 서문한옥게스트하우스, 동성로와 인접한
            교동게스트하우스 함께 운영합니다.<br /><br />

            서문시장 야시장은 대구의 밤문화와 다양한 첨단, 문화예술이 복합되어
            어디에서도 찾을 수 없는 경험을 제공합니다. 글로벌, 퓨전 먹거리를
            비롯하여 대구에서만 찾을 수 있는 독특한 음식, 우리의 추억과 감성을
            자극하는 다양한 볼거리, 살거리가 즐비합니다. 대구로 방문하신다면
            반드시 찾아가봐야 할 1순위는 단연 ‘서문시장 야시장’ 입니다.
          </p>
        </div>
      </section>

      <section class="map">
        <p class="map_title">오시는길</p>
        <div class="contact_map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3233.2023431247785!2d128.57807241561554!3d35.86855792728223!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3565e376c08aad43%3A0xdd7958b01f8ee3e!2z7ISc66y47Iuc7J6lIOyVvOyLnOyepQ!5e0!3m2!1sko!2skr!4v1649661381656!5m2!1sko!2skr"
            width="100%"
            height="100%"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>
        <div class="map_text">
          <div class="map_subway">
            <span>주변지하철</span>
            <p>
              <img src="img/ico_traffic_3.png" />서문시장역
              <img src="img/ico_traffic_2.png" />신남역
              <img src="img/ico_traffic_3.png" />신남역
              <img src="img/ico_traffic_3.png" />달성공원역
            </p>
          </div>
          <div class="map_bus">
            <span>주변정류장</span>
            <p>
              <img src="img/marker_bus01.png" />큰장네거리4
              <img src="img/marker_bus02.png" />동산의료원앞2
              <img src="img/marker_bus03.png" />서문시장5지구앞
              <img src="img/marker_bus04.png" />동산의료원앞1
              <img src="img/marker_bus05.png" />서문시장
              <img src="img/marker_bus06.png" />큰장네거리2
            </p>
          </div>
          <div class="map_memo">
            <span>메모</span><br />
            버스 105, 156, 242, 309, 405, 415, 623, 724, 890, 910번 이용<br /><br />

            대구지하철 2호선 신남역 5번 출구
          </div>
        </div>
      </section>
      <section class="time">
        <p>
          야시장 영업시간<br />
          ● 월,수,목,일(19:00~22:30) 금,토(19:00~23:30)<br />
          ● 정기휴무 : 매주화요일
        </p>
      </section>
    </main>
