<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />

    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/info.css" />
    <link rel="stylesheet" href="css/notice.css" />
    <link rel="stylesheet" href="css/notice_deta.css" />
    <link rel="stylesheet" href="css/updatenoti.css" />
    <link rel="stylesheet" href="css/register.css" />
    <link rel="stylesheet" href="css/join.css" />
    <link rel="stylesheet" href="css/write.css" />

    <title>서문시장 야시장</title>
  </head>

  <header>
    <a href="/"><img src="img/logo2.png" class="logo" alt="서문시장 로고" /></a>
    <nav class="menu1">
      <ul>
        <li><a href="info">야시장소개</a></li>
        <li><a href="#">먹거리살거리</a></li>
        <li><a href="#">서문거리예술문화</a></li>
        <li><a href="notice">공지사항</a></li>
        <li><a href="#">참여마당</a></li>
      </ul>
    </nav>
    <nav class="menu2">
      <ul>
        <div class="login_img"></div>
        <li id="login" href="register" onclick="javascript:kakaoLogin();">
          로그인
        </li>
        <li><span id="user"></span>님</li>
        <li id="logout" onclick="javascript:kakaoLogout();">로그아웃</li>
        <li>
          <div class="search_img"></div>
          <a href="#"> 검색</a>
        </li>
        <li>
          <div class="list_img"></div>
          <a href="join"> 회원가입</a>
        </li>
      </ul>
    </nav>
    <a href="">
      <nav class="menu_list">
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </nav>
    </a>
  </header>
  <%- body %>

  <footer>
    <div class="footer_box1">
      <div class="logo_b">
        <a href="/"><img src="img/logo_test1.png" /></a>
      </div>
      <p class="copyright">
        대구 동구 아양로 208-1 3층, 재단법인 대구전통시장진흥재단ㆍ<br />
        글로벌명품시장육성사업단매대관리자 Seomun Night Market Ⓒ2016 Daegu
        traditional Market<br />
        Support Agency. All Rights Reserved
      </p>
      <ul class="sns_icon">
        <li>
          <a href="#"><img src="img/facebook_icon.png" /></a>
          <a href="#"><img src="img/youtube_icon.png" /></a>
          <a href="#"><img src="img/insta_icon.png" /></a>
          <a href="#"><img src="img/twitter_icon.png" /></a>
        </li>
      </ul>
    </div>
  </footer>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
  <%- script %>
  <script src="../js/join.js"></script>
  <script src="../js/main.js"></script>
  <script>
    Kakao.init("cd664b3f2a4245dd7ce8d9275a02b836");
    Kakao.isInitialized();

    document.getElementById("logout").style.display = "none";

    function kakaoLogin() {
      Kakao.Auth.login({
        success: function (response) {
          Kakao.API.request({
            url: "/v2/user/me",
            success: function (response) {
              console.log(response);
              document.getElementById("user").innerText =
                response.kakao_account.profile.nickname;
              document.getElementById("login").style.display = "none";
              document.getElementById("logout").style.display = "block";
              alert(
                response.kakao_account.profile.nickname +
                  "님 로그인 되었습니다."
              );
            },
          });
        },
      });
    }
    function kakaoLogout() {
      if (Kakao.Auth.getAccessToken()) {
        Kakao.API.request({
          url: "/v1/user/unlink",
          success: function (response) {
            console.log(response);
            document.getElementById("user").style.display = "none";
            document.getElementById("login").style.display = "block";
            document.getElementById("logout").style.display = "none";
            alert("로그아웃 되었습니다.");
          },
        });
        Kakao.Auth.setAccessToken(undefined);
      }
    }
  </script>
</html>
