<main>
  <section>
    <div class="login">
      <a href="join" class="join">회원가입<i></i></a>
      <div>
        <ul class="login_tap">
          <li>
            <input type="radio" name="user" checked />
            <h2>일반회원</h2>
          </li>
          <li>
            <input type="radio" name="user" />
            <h2>판매자</h2>
          </li>
          <li>
            <input type="radio" name="user" />
            <h2>관리자</h2>
          </li>
        </ul>
      </div>
      <div class="login_box">
        <ul class="login_text">
          <li>
            <input type="text" placeholder="아이디" class="login_id" />
          </li>
          <li>
            <input type="password" placeholder="비밀번호" class="login_pw" />
          </li>
        </ul>
        <button class="login_btn">로그인</button>
      </div>
    </div>
    <div class="check_wrap">
      <ul class="login_check">
        <li>
          <input type="checkbox" class="checkbox" /><a href="#">
            로그인상태 유지 &nbsp; | &nbsp;</a
          >
        </li>
        <li>
          <input type="checkbox" class="checkbox" /><a href="#">아이디 저장</a>
        </li>
        <li>
          <button id="kakao_login" onclick="javascript:kakaoLogin();">
            카카오 로그인
          </button>
        </li>
      </ul>
      <ul class="login_find">
        <li><a href="#">아이디(이메일)찾기 &nbsp; | &nbsp;</a></li>
        <li><a href="#">비밀번호 찾기</a></li>
      </ul>
    </div>
  </section>
</main>
