<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/write.css" />
    <link rel="stylesheet" href="css/common.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <title>Document</title>
  </head>

  <body>
    <header>
      <a href="#"
        ><img src="img/logo2.png" class="logo" alt="서문시장 로고"
      /></a>
      <nav class="menu1">
        <ul>
          <li><a href="#">야시장소개</a></li>
          <li><a href="#">먹거리살거리</a></li>
          <li><a href="#">서문거리예술문화</a></li>
          <li><a href="#">입점신청</a></li>
          <li><a href="#">참여마당</a></li>
        </ul>
      </nav>
      <nav class="menu2">
        <ul>
          <li>
            <div class="login_img"></div>
            <a href="#"> 로그인</a>
          </li>
          <li>
            <div class="search_img"></div>
            <a href="#"> 검색</a>
          </li>
          <li>
            <div class="list_img"></div>
            <a href="#"> 일정</a>
          </li>
        </ul>
      </nav>
      <a href="">
        <nav class="menu_list">
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </nav>
      </a>
    </header>
    <main>
      <section>
        <h2>공지사항 작성하기</h2>
        <% if(typeof errs !== 'undefined') { %> <% errs.forEach((err)=>{%>
          <h3><%=err.param%> : <%=err.msg%></h3>
          <% })%> <% } %>
        <form method="POST" action="/store">
          <table>
            <tr>
              <td><label>제목</label></td>
              <td><input type="text" name="title"></td>
            </tr>
            <tr>
              <td>내용 작성 :</td>
              <td><textarea type="text" name="content"></textarea></td>
            </tr>
            <tr>
              <td colspan="2">
                <input type="submit" value="저장" id="save" />
                <input
                  type="button"
                  value="뒤로 가기"
                  onclick="javascript:location.href='/'"
                />
              </td>
            </tr>
          </table>
        </form>
      </section>
    </main>
    <footer>
      <div class="footer_box1">
        <div class="logo_b">
          <a href="#"><img src="img/logo_test1.png" /></a>
        </div>
        <p class="copyright">
          대구 동구 아양로 208-1 3층, 재단법인 대구전통시장진흥재단ㆍ<br />
          글로벌명품시장육성사업단매대관리자 Seomun Night Market Ⓒ2016 Daegu
          traditional Market<br />
          Support Agency. All Rights Reserved
        </p>
        <ul class="sns_icon">
          <li>
            <a href="#"><img src="img/facebook_icon.png" /></a>
            <a href="#"><img src="img/youtube_icon.png" /></a>
            <a href="#"><img src="img/insta_icon.png" /></a>
            <a href="#"><img src="img/twitter_icon.png" /></a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
