/* --------------------------------------------------------main */
.bg1 {
  max-width: 1440px;
  position: relative;
  margin: auto;
}
.bg_img1 {
  width: 100%;
  height: 480px;
  position: relative;
  background-image: url(../img/10g_seomun.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}
.bg_txt1 {
  width: 300px;
  height: 20%;
  background-color: rgb(47, 47, 47, 0.5);
  position: absolute;
  top: 40%;
  left: 0;
  margin: auto;
}
.bg_txt1 > p {
  font-size: 26px;
  font-weight: bold;
  color: white;
  padding: 25px 50px;
}
.notice1 {
  max-width: 1440px;
  padding: 60px 120px;
  margin: auto;
  text-align: center;
}

.notice1_title {
  padding: 30px 0 50px;
  border-bottom: 2px solid #2a2e35;
  text-align: center;
}
.notice1_title p {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
}
.notice1_title h3 {
  font-size: 18px;
  font-weight: 300;
  line-height: 40px;
  padding-top: 40px;
  margin-bottom: 10px;
}
.notice1_txt {
  padding: 50px 0 8px;
  text-align: left;
  border-bottom: 1px solid #2a2e35;
}
.notice1_txt div {
  line-height: 55px;
  font-size: 36px;
  font-weight: 700;
}
.notice1_txt p {
  line-height: 30px;
  font-size: 16px;
}
.notice_deta_bottom {
  width: 50px;
  height: 25px;
  padding: 10px 15px;
  border: 1px solid #134a99;
  margin: auto;
}
.notice_deta_bottom > a {
  color: #134a99;
}
/* ------------------------------------------------------ */
/* ----------------------------------------1200px--- */
@media only screen and (max-width: 1200px) {
  .bg_img1 {
    width: 100%;
    max-width: 1200px;
    height: 360px;
  }
  .bg_txt1 {
    width: 280px;
    height: 20%;
    top: 40%;
  }
  .bg_txt1 > p {
    font-size: 26px;
    font-weight: bold;
    color: white;
    padding: 25px 50px;
  }
  .notice1 {
    max-width: 1200px;
    padding: 40px 60px;
    margin: auto;
  }
  .boardblock .btn a {
    padding-bottom: 15px;
  }
}
/* --------------------------------------------------------- */
@media only screen and (max-width: 768px) {
  .notice1_title {
    padding: 20px 0;
  }
  .notice1_title span {
    font-size: 13px;
    line-height: 24px;
    padding: 0 10px;
    margin-bottom: 10px;
  }
  .notice1_title div {
    font-size: 22px;
    line-height: 1.5;
  }
  .notice1_title h3 {
    font-size: 13px;
    line-height: 1;
    padding-top: 10px;
  }
}
