.title_number,
.title_news {
  max-width: 1440px;
  width: 100%;
  height: 25px;
  border: 1px solid #494949;
  margin: 10px auto;
}
.update_mod {
  text-align: center;
}
.title_news {
  height: 500px;
}
.write_btn {
  text-align: center;
  display: block;
  padding: 10px 0;
  margin: 0 auto;
  max-width: 1440px;
}
.write_btn > input {
  border: 1px solid #134a99;
  background-color: #134a99;
  color: #fff;
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 2px;
}
